// src/assets/var.scss
$primary-color: #3498db;
$secondary-color: #2ecc71;
$success-color: #27ae60;
$danger-color: #e74c3c;
$warning-color: #f39c12;
$info-color: #34495e;
$light-color: #ecf0f1;
$dark-color: #2c3e50;

$title-color: #1f2937;

$gray-600: #71717a;
$gray-800: #1f2937;

$admin-border: #eaeaea