<!doctype html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="./palm_logo.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>东南大学 PALM 实验室</title>
    <script type="module" crossorigin src="../static/assets/js/main.D79WpxsO.js"></script>
    <link rel="modulepreload" crossorigin href="../static/assets/js/vendor-core.u1NQAmQV.js">
    <link rel="modulepreload" crossorigin href="../static/assets/js/vendor-icons.B4VWdw4Z.js">
    <link rel="modulepreload" crossorigin href="../static/assets/js/main.D79WpxsO.js">
    <link rel="modulepreload" crossorigin href="../static/assets/js/vendors.CyabJv2f.js">
    <link rel="modulepreload" crossorigin href="../static/assets/js/vendor-element-plus.5pxjchB-.js">
    <link rel="stylesheet" crossorigin href="../static/assets/css/main.DdGVjy7S.css">
    <link rel="stylesheet" crossorigin href="../static/assets/css/vendors.DCdz2hbF.css">
    <link rel="stylesheet" crossorigin href="../static/assets/css/vendor-element-plus.BlOX8Vxn.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>